<section class="mx-auto w-full mb-8 lg:px-[5%] overflow-x-auto">
  <coingecko-coin-list-widget
    coin-ids="bitcoin,binancecoin,blur,cardano,ethereum,usdtez,ripple,optimism,solana"
    currency="usd"
    locale="en"
  ></coingecko-coin-list-widget>
</section>

<script src="https://widgets.coingecko.com/coingecko-coin-list-widget.js"></script>
